body {
    background-color: #23342f;
    margin: 0;
    font-family: arial, serif;
}
a, label {
    color: #f5ebb4;
}
div.navigation {
    color: #f5ebb4;
}
div#container {
    width: 960px;
    margin: 0 auto;
    background-color: #2f463f;
}

div.content {
    padding: 10px;
}

h1 { 
    font-family: 'Ultra', arial, serif;
    font-weight: normal;
    color: #f5ebb4;
}
h1 a {
    color: #f5ebb4;
    text-decoration: none;
}



/*
.syntaxhighlighter {
    font-size: 0.8em !important;
}
*/

.rounded {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* ======================================================================== */
p.flash {
    padding: 4px;
    font-weight: bold;
}
p.error {
    background-color: #ff0000;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #333;
}
p.info {
    background-color: #1b71ca;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #333;
}

/* ======================================================================== */
label {
    display: inline-block;
    width: 75px;
}

input, textarea, select {
    font-size: 0.9em;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type=text] {
    border: 1px solid #000000;
    width: 400px;
    padding: 5px;
}
textarea {
    border: 1px solid #000000;
    width: 400px;
    height: 400px;
    padding: 5px;
    resize: none;
}
select {
    border: 1px solid #000000;
}