html {
    overflow-y: scroll;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    font-color: #5b2ea0;
    font-weight: bold;
}

.rounded {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* ======================================================================== */

div.header {
    height: 116px;
    background-color: #000000;
}

div.header div.logo {
    background-image: url('/public/images/logo.jpg');
    height: 116px;
    width: 214px;
    float: left;
}

div.header div.logo a span {
    display: inline-block;
    height: 116px;
    width: 214px;
}

div.header div.navigation {
    color: #ffffff;
}

div.header div.navigation ul {
    margin: 0;
    padding-top: 40px;
    list-style: none;
    float: right;
}

div.header div.navigation ul li {
    float: left;
    padding: 0px 20px;
}

div.header div.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ======================================================================== */

div.footer {
    height: 232px;
    background-color: #000000;
    color: #f3f3f3;
}

div.footer a {
    color: #f3f3f3;
    font-weight: normal;
}

div.footer div.container {
    padding-top: 10px;
}

div.footer div.column {
    float: left;
    width: 240px;
}

div.footer div.column h3 {
    margin: 0;
    color: #c7c7c7;
}

div.footer div.column ul {
    list-style: none;    
    padding: 0;
}
/* ======================================================================== */

div.container {
    width: 960px;
    margin: 0 auto;
}

div.content {
    padding: 10px;
}

div.content div.left {
    width: 720px;
    float: left;
}

div.content div.right {
    width: 220px;
    float: right;
}

h1 { 
    font-family: 'Artifika', arial, serif;
    font-weight: normal;
    color: #000000;
    margin: 0px;
}
h1 a {
    color: #000000;
    text-decoration: none;
}

/* ======================================================================== */

div.box {
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #aaaaaa;
    
    -moz-box-shadow: 0 2px 3px #cccccc;
    -webkit-box-shadow: 0 2px 3px #cccccc;
    box-shadow: 0 2px 3px #cccccc;
}

div.index div.tags {
    padding-top: 10px;
    float: right;
    text-align: right;
}

/* ======================================================================== */

div.code {
    background-color: #000000;
    padding: 1px 2px;
}

.syntaxhighlighter {
    font-size: 0.8em !important;
}

/* ======================================================================== */
p.flash {
    padding: 8px 16px;
    font-weight: bold;
    -moz-box-shadow: 0 2px 3px #cccccc;
    -webkit-box-shadow: 0 2px 3px #cccccc;
    box-shadow: 0 2px 3px #cccccc;
}
p.error {
    background-color: #ff0000;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #333;
}
p.info {
    background-color: #1b71ca;
    color: #ffffff;
    text-shadow: 0.1em 0.1em #333;
}

/* ======================================================================== */
label {
    display: inline-block;
    width: 75px;
}

input, textarea, select {
    font-size: 0.9em;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type=text] {
    padding: 5px;
}
textarea {
    height: 400px;
    padding: 5px;
    resize: none;
}
select {
    padding: 4px;
}

input.title, textarea.content {
    width: 665px;
}
input.tags {
    width: 500px;
    margin-left: 12px;
}

input.unfilled, textarea.unfilled {
    color: #cccccc;
}
input.filled, textarea.filled {
    color: #000000;
}

span.tag {
    background-color: #5b2ea0;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 6px;
    
    background: -moz-linear-gradient(0% 50% 90deg, #492580, #8845f0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8845f0), to(#492580));
}
span.tag a {
    color: #ffffff;
}

/* ======================================================================== */

div.sidebar {
    margin-left: 20px;
    text-align: right;
}

div.search {
    margin-top: 15px;
    padding: 10px;
}
div.search input.search {
    width: 165px;
    border: 1px solid #aaa;
    text-align: right;
    background: -moz-linear-gradient(0% 50% 90deg, #d7d7d7, #e7f7f7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7f7f7), to(#d7d7d7));
}
div.search input.unfilled {
    color: #7f7f7f;
}
div.search input.filled {
    color: #000000;
}

/* ======================================================================== */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}