body {
    background-color: #23342f;
    margin: 0;
    font-family: arial, serif;
}
a, label {
    color: #f5ebb4;
}
div.navigation {
    color: #f5ebb4;
}
div#container {
    width: 960px;
    margin: 0 auto;
    background-color: #2f463f;
}

div.content {
    padding: 10px;
}

h1 { 
    font-family: 'Ultra', arial, serif;
    font-weight: normal;
    color: #f5ebb4;
}
h1 a {
    color: #f5ebb4;
    text-decoration: none;
}

label {
    display: inline-block;
    width: 75px;
}

/*
.syntaxhighlighter {
    font-size: 0.8em !important;
}
*/