#{extends 'main.html' /}
#{set title:'Kokuban 黒板' /}

<p>
    Welcome to <abbr title="黒板">Kokuban</abbr>!
</p>
<p>
    Feel free to <a href="@{Fragments.new_}">share your code</a> with friends.
</p>

<div class="index">
    #{list items:fragments, as:'fragment'}
    <div class="fragment">
        <div class="tags">
            #{list items:fragment.tags, as:'tag'}
            #{tag tag:tag /}
            #{/list}
        </div>
        <h1><a href="@{show(fragment.id)}">${fragment.title}</a></h1>
    </div>
    #{/list}
</div>