#{extends 'main.html' /}
#{set title:'Kokuban 黒板 - add code fragment' /}

<h1>&{'fragment.header.share'}</h1>
<p>&{'fragment.header.intro'}</p>
<div class="box">
<form action="@{Fragments.create()}" method="post" class="fragment">

    <p>
        <input type="text" name="title" id="title" class="title ${params.title ? 'filled' : 'unfilled'}" value="${params.title ?: play.i18n.Messages.get('fragment.title.example')}" />
    </p>
    
    <p>
        <textarea name="content" id="content" class="content ${params.content ? 'filled' : 'unfilled'}">${params.content ?: play.i18n.Messages.get('fragment.content.example')}</textarea>
    </p>
    
    <p>
        #{select 'style', id:'type', class:'style'}
            #{option}&{'fragment.style.select'}#{/option}
            #{list items:styles, as:'style', value:params.style}
            #{option style._1}${style._2}#{/option}
            #{/list}
        #{/select}
        <input type="text" name="tags" id="tags" class="tags ${params.tags ? 'filled' : 'unfilled'}" value="${params.tags ?: play.i18n.Messages.get('fragment.tags.example')}" />
    </p>
    
    <p>
        <input type="submit" id="shareFragment" value="&{'fragment.share'}" />
    </p>
</form>
</div>