#{extends 'main.html' /}
#{set title:'Kokuban 黒板 - add code fragment' /}

<h1>&{'fragment.header.share'}</h1>
<form action="@{Fragments.create()}" method="POST">

    <p>
        <label for="title">&{'fragment.fields.title'}:</label>
        <input type="text" name="title" id="title" value="${params.title}" />
    </p>
    
    <p>
        <label for="content">&{'fragment.fields.content'}:</label>
        <textarea name="content" id="content">${params.content}</textarea>
    </p>
    
    <p>
        <label for="style">&{'fragment.fields.type'}:</label>
        #{select 'style', id:'type'}
            #{list items:styles, as:'style', value:params.style}
            #{option style._1}${style._2}#{/option}
            #{/list}
        #{/select}
    </p>
    <p>
        <input type="submit" id="shareFragment" value="&{'fragment.share'}" />
    </p>
</form>

