<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/syntaxhighlighter/shCore.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/syntaxhighlighter/shThemeMidnight.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/syntaxhighlighter/shCore.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/syntaxhighlighter/shBrushJScript.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="container">
            <div class="content">
                <div class="navigation">
                    <a href="@{Fragments.index}">back</a> &ndash;
                    <a href="@{Fragments.new_}">add a fragment</a>
                </div>

                #{doLayout /}
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                SyntaxHighlighter.all();
            });
        </script>
    </body>
</html>
